<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" th:href="@{/static/css/confirm.css}">
  <title>My Webcrumbs Plugin</title>
</head>
<body>
<div id="webcrumbs">
  <div class="w-[500px] min-h-[600px] bg-white rounded-lg shadow"
       style="background-image:url(&#x27;https://kartinki.pics/pics/uploads/posts/2022-08/1661319952_18-kartinkin-net-p-zadnii-fon-dlya-programmi-krasivo-18.jpg&#x27;);background-size:cover;background-position:center">
    <form th:action="@{/confirm}" th:method="POST" th:object="${confirmCode}" class="flex flex-col items-center justify-center gap-6 p-8">
      <h1 class="font-title text-2xl text-neutral-950">Введите код подтверждения</h1>
      <p class="text-neutral-700 text-center">Пожалуйста, введите 6-значный код, отправленный на вашу электронную почту</p>
      <div class="flex gap-2">
        <input type="text" name="number1" maxLength="1" th:field="*{number1}"
               class="w-[50px] h-[70px] bg-neutral-100 text-center text-3xl text-neutral-950 rounded-md shadow-sm" required/>
        <div th:if="${#fields.hasErrors('number1')}" th:errors="*{number1}" style="color:red;"></div>

        <input type="text" name="number2" maxLength="1" th:field="*{number2}"
               class="w-[50px] h-[70px] bg-neutral-100 text-center text-3xl text-neutral-950 rounded-md shadow-sm" required/>
        <div th:if="${#fields.hasErrors('number2')}" th:errors="*{number2}" style="color:red;"></div>

        <input type="text" name="number3" maxLength="1" th:field="*{number3}"
               class="w-[50px] h-[70px] bg-neutral-100 text-center text-3xl text-neutral-950 rounded-md shadow-sm" required/>
        <div th:if="${#fields.hasErrors('number3')}" th:errors="*{number3}" style="color:red;"></div>

        <input type="text" name="number4" maxLength="1" th:field="*{number4}"
               class="w-[50px] h-[70px] bg-neutral-100 text-center text-3xl text-neutral-950 rounded-md shadow-sm" required/>
        <div th:if="${#fields.hasErrors('number4')}" th:errors="*{number4}" style="color:red;"></div>

        <input type="text" name="number5" maxLength="1" th:field="*{number5}"
               class="w-[50px] h-[70px] bg-neutral-100 text-center text-3xl text-neutral-950 rounded-md shadow-sm" required/>
        <div th:if="${#fields.hasErrors('number5')}" th:errors="*{number5}" style="color:red;"></div>

        <input type="text" name="number6" maxLength="1" th:field="*{number6}"
               class="w-[50px] h-[70px] bg-neutral-100 text-center text-3xl text-neutral-950 rounded-md shadow-sm" required/>
        <div th:if="${#fields.hasErrors('number6')}" th:errors="*{number6}" style="color:red;"></div>
      </div>
      <button type="submit" class="w-[150px] h-[50px] bg-primary-500 text-primary-50 rounded-md shadow-md">Подтвердить</button>
    </form>
    <a href="/confirm?repeat=true" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">Отправить новый код</a>
  </div>
</div>
</body>
</html>