<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Изменение прав пользователя</title>
  <link rel="canonical" th:href="@{/static/css/editRoles.css}">
</head>
<body th:object="${editRoleUser}">
<form th:action="@{/admin/editRoles/{id}(id=${editRoleUser.id})}" th:method="POST" th:object="${roles}">
  <div class="checkbox-container">
    <h2>Установка ролей для пользователя: <span th:text="${editRoleUser.email.split('@')[0]}">email</span></h2>

    <div class="checkbox-group">
      <label class="checkbox-label">
        <input type="checkbox" id="option1" name="roleTypes" value="ROLE_USER"
               th:checked="${roles.contains('ROLE_USER')}" />
        <span class="checkbox-custom"></span>
        <span class="checkbox-text">Роль пользователя (ROLE_USER)</span>
      </label>

      <label class="checkbox-label">
        <input type="checkbox" id="option2" name="roleTypes" value="ROLE_OWNER"
               th:checked="${roles.contains('ROLE_OWNER')}" />
        <span class="checkbox-custom"></span>
        <span class="checkbox-text">Роль арендодателя (ROLE_OWNER)</span>
      </label>

      <label class="checkbox-label">
        <input type="checkbox" id="option3" name="roleTypes" value="ROLE_ADMIN"
               th:checked="${roles.contains('ROLE_ADMIN')}" />
        <span class="checkbox-custom"></span>
        <span class="checkbox-text">Роль админа (ROLE_ADMIN)</span>
      </label>
      <button type="submit">Сохранить</button>
    </div>
  </div>
</form>
</body>
</html>