<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
    <link rel="canonical" th:href="@{/static/css/emailTemplate.css}">
</head>
<body>
<div class="container">
    <div class="header">
        <h1 th:text="${subject}">Введите код в форму</h1>
    </div>
    <div class="content">
        <p th:text="${message}"></p>
        <p>Код подтверждения регистрации</p>
        <div>
            <span>Код: </span><span th:text="${confirmCode}" class="confirm-code">1234568</span>
        </div>
    </div>
</div>
</body>
</html>
