<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" th:href="@{/static/css/userProfile.css}">
    <title>My Webcrumbs Plugin</title>
</head>
<body>
<div id="webcrumbs">
    <div class="w-[960px] min-h-[1100px] bg-white shadow-lg rounded-lg p-8 flex flex-col gap-6" th:object="${profileInfo}">
        <div class="flex items-center gap-6">
            <img th:src="@{/static/defaultAvatar.png}"
                 height="200" width="200" alt="avatar"/>
            <div class="flex flex-col">
                <h1 class="text-2xl font-title text-neutral-950" th:text="${profileInfo.name}">Имя</h1>
                <p class="text-md text-neutral-500" th:text="${profileInfo.email}">johndoe@example.com</p>
                <p class="text-md text-neutral-500" th:text="${profileInfo.phone}">+1234567890</p>
            </div>
        </div>
        <div class="flex flex-col gap-4">
            <p class="text-md text-neutral-950">
                <span class="font-medium">Дата регистрации:</span>
                <span th:text="${#dates.format(profileInfo.dateRegistration, 'dd MMMM yyyy')}">January 15, 2020</span>
            </p>
            <p class="text-md text-neutral-950">
                <span class="font-medium">День рождения:</span>
                <span th:text="${#dates.format(profileInfo.birthday, 'dd MMMM yyyy')}">March 3, 1990</span>
            </p>
            <p class="text-md text-neutral-950">
                <span class="font-medium">Активность:</span>
                <span th:text="${profileInfo.active ? 'Да' : 'Нет'}">True</span>
            </p>
            <p class="text-md text-neutral-950">
                <span class="font-medium">Роли:</span>
                <span th:text="${roles}">Admin, Editor</span>
            </p>
        </div>
        <div class="flex gap-6" th:if="${profileInfo.email == username}">
            <a th:href="@{/editProfile/{id}(id=${profileInfo.id})}" class="bg-primary-500 text-primary-950 text-lg rounded-md px-6 py-3">
                Изменить профиль
            </a>
            <form th:action="@{/deleteProfile/{id}(id=${profileInfo.id})}" th:method="DELETE" class="inline">
                <button class="bg-red-500 text-primary-50 text-lg rounded-md px-6 py-3" type="submit">
                    Удалить профиль
                </button>
            </form>
        </div>
        <div class="relative w-full h-[300px] mt-8" th:if="${profileInfo.email == username}">
            <img th:src="@{'data:image/png;base64,' + ${dataGraph}}" alt="График платежей" class="w-full h-full object-cover" width="1000px" height="600px"/>
        </div>
    </div>
</div>
</body>
</html>