<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" th:href="@{/static/css/403.css}">
    <title>Ошибка 404 - страница не найдена</title>
</head>
<body>
<div class="container">
    <div class="error-container">
        <div class="error-code">404</div>
        <div class="error-message">Страница не найдена</div>
        <p>К сожалению, страница, которую вы ищете, не найдена.</p>
        <p>Пожалуйста, проверьте URL-адрес или вернитесь на <a href="/">домашнюю страницу</a>.</p>
    </div>
</div>
</body>
</html>