<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<h1>Список пользователей</h1>

<table id="usersTable">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Дата регистрации</th>
        <th>День рождения</th>
        <th>Активен ли аккаунт?</th>
        <th>Действия</th>
        <th>Роли пользователя</th>
        <th>Ссылка на аккаунт</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}">Имя</td>
        <td th:text="${user.lastName == null ? 'Отсутствует' : user.lastName}">Фамилия</td>
        <td th:text="${#dates.format(user.dateRegistration, 'dd.MM.yyyy')}">Дата регистрации</td>
        <td th:text="${#dates.format(user.birthday, 'dd.MM.yyyy')}">День рождения</td>
        <td th:text="${user.getActive() ? 'Да' : 'Нет'}">Активность</td>
        <td>
            <form th:action="@{/ban/{id}(id=${user.id})}" th:method="POST">
                <input type="submit" value="Забанить" class="btn btn-danger">
            </form>
            <form th:action="@{/unban/{id}(id=${user.id})}" th:method="POST">
                <input type="submit" value="Разбанить" class="btn btn-danger">
            </form>
        </td>
        <td>
            <label for="roles"></label>
            <select id="roles" name="services">
                <option th:each="role : ${user.getRoles()}" th:value="${role.id}"
                        th:text="${role.getRoleType().name()}">
                    ROLE_USER
                </option>
            </select>
            <button class="btn btn-edit">Редактировать роли</button>
        </td>
        <td><a th:href="@{/profile/{id}(id=${user.id})}">
            <span>Ссылка</span>
        </a></td>
    </tr>
    </tbody>
</table>
</body>
</html>