<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Аренда недвижимости</title>
</head>
<body>
<div class="container" th:object="${apartment}">
    <h1>Профиль апартамента</h1>

    <div class="row mb-4">
        <div th:each="image : ${apartment.getImages()}" class="col-md-6">
            <img th:src="@{/image/{id}(id=${image.getId()})}" alt="Фото апартаментов" class="apartment-image" height="45%" width="45%">
        </div>
        <div class="col-md-6">
            <h2 th:text="${apartment.getName()}">Апартамент "София"</h2>
            <p><strong>Тип: </strong><span th:text="${apartment.getType().getType()}"> Квартира</span></p>
            <p><strong>Адрес: </strong><span th:text="${apartment.getAddress()}"> ул. Ленина, д. 12, кв. 3</span></p>
            <p><strong>Доступность: </strong> <span th:text="${apartment.getRoomAvailable() ? 'Доступно' : 'Недоступно'}"
                                                   class="apartment-available">Доступно</span></p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4">
            <h3>Характеристики</h3>
            <ul class="list-unstyled">
                <li><strong>Площадь: </strong> <span th:text="${apartment.getSquare() + ' м²'}">60 м²</span></li>
                <li><strong>Количество комнат: </strong><span th:text="${apartment.getRoomCount()}"> 2</span></li>
                <li><strong>Ежедневная стоимость: </strong><span th:text="${apartment.getDailyPrice() + ' руб.'}"> 2500 руб.</span></li>
            </ul>
        </div>
        <div class="col-md-8">
            <h3>Описание</h3>
            <p>Привлекательный двухкомнатный апартамент в центре города. Спортивный клуб рядом, магазины и рестораны в шаговой доступности.</p>
       </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-12">
            <h3>Дополнительные сервисы</h3>
            <ul class="list-unstyled">
                <li>Сплит-система</li>
                <li>Интернет Wi-Fi</li>
                <li>Посудомоечная машина</li>
                <li>Парковка</li>
            </ul>
        </div>
    </div>

    <button type="button" class="btn btn-primary">Забронировать</button>
    <div>Телефон владельца:</div>
</div>
</body>
</html>