<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Аренда недвижимости</title>
</head>
<body>
<div class="container" th:object="${apartment}">
    <h1>Профиль апартамента</h1>

    <div class="row mb-4">
        <div th:each="image : ${apartment.getImages()}" class="col-md-6">
            <img th:src="@{/image/{id}(id=${image.getId()})}" alt="Фото апартаментов" class="apartment-image" height="45%" width="45%">
        </div>
        <div class="col-md-6">
            <h2 th:text="${apartment.getName()}">Апартамент "София"</h2>
            <p><strong>Тип: </strong><span th:text="${apartment.getType().getType()}"> Квартира</span></p>
            <p><strong>Адрес: </strong><span th:text="${apartment.getAddress()}"> ул. Ленина, д. 12, кв. 3</span></p>
            <p><strong>Доступность: </strong> <span th:text="${apartment.getRoomAvailable() ? 'Доступно' : 'Недоступно'}"
                                                   class="apartment-available">Доступно</span></p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4">
            <h3>Характеристики</h3>
            <ul class="list-unstyled">
                <li><strong>Площадь: </strong> <span th:text="${apartment.getSquare() + ' м²'}">60 м²</span></li>
                <li><strong>Количество комнат: </strong><span th:text="${apartment.getRoomCount()}"> 2</span></li>
                <li><strong>Ежедневная стоимость: </strong><span th:text="${apartment.getDailyPrice() + ' руб.'}"> 2500 руб.</span></li>
            </ul>
        </div>
        <div class="col-md-8">
            <h3>Описание</h3>
            <p>Привлекательный двухкомнатный апартамент в центре города. Спортивный клуб рядом, магазины и рестораны в шаговой доступности.</p>
       </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-12">
            <h3>Дополнительные сервисы</h3>
            <ul class="list-unstyled">
                <li th:each="service : ${apartment.getServices()}">
                    <div>
                        <strong th:text="${service.name}"></strong>
                        <p th:text="${service.description}"></p>
                        <p th:text="${'Цена за услугу: ' + service.servicePrice} + ' руб.'"></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <p><strong>Имя владельца:</strong></p>
        <span th:text="${apartment.getUser().name}"></span>
        <p><strong>Телефон владельца:</strong></p>
        <span th:if="${!apartment.getUser().phone.isEmpty()}" th:text="${apartment.getUser().phone}"></span>
        <span th:unless="${!apartment.getUser().phone.isEmpty()}" th:text="${apartment.getUser().email}"></span>
        <strong><a th:href="@{/profile/{id}(id=${apartment.getUser().id})}">Подробнее</a></strong>
    </div>
    <p>
        <a th:href="@{/payment/book/{id}(id=${apartment.id})}">Забронировать</a>
    </p>
</div>
</body>
</html>