<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Подтверждение регистрации</title>
</head>
<body>
<h1>Подтверждение регистрации</h1>

<form th:action="@{/confirm}" th:method="POST" th:object="${code}">
  <p>Введите код подтверждения:</p>
  <label for="number1">Цифра 1</label>
  <input type="number" id="number1" name="number1" maxlength="1" th:field="*{number1}" required>
  <div th:if="${#fields.hasErrors('number1')}" th:errors="*{number1}" style="color:red;"></div>

  <label for="number2">Цифра 2</label>
  <input type="number" id="number2" name="number2" maxlength="1" required>

  <label for="number3">Цифра 3</label>
  <input type="number" id="number3" name="number3" maxlength="1" required>

  <label for="number4">Цифра 4</label>
  <input type="number" id="number4" name="number4" maxlength="1" required>

  <label for="number5">Цифра 5</label>
  <input type="number" id="number5" name="number5" maxlength="1" required>

  <label for="number6">Цифра 6</label>
  <input type="number" id="number6" name="number6" maxlength="1" required>

  <button type="submit">Подтвердить</button>
</form>

<p>Отправить повторно<a href="/confirm?repeat=true">Отправить новый код</a></p>
</body>
</html>
