<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Уведомление о просрочке платежа</title>
</head>
<body style="font-family: Bebas Neue, Arial, Tahoma, Geneva, Verdana, sans-serif; font-size: 18px; line-height: 1.6; padding: 24px; display: flex; flex-direction: column; align-items: center; justify-content: center; background: linear-gradient(135deg, #ffffff, #d4d4d4);">
<div style="width: 600px; background-color: white; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); border-radius: 8px; padding: 32px;">
  <div style="display: flex; justify-content: center; margin-bottom: 24px;">
    <img th:src="@{https://static.vecteezy.com/system/resources/previews/044/867/259/non_2x/house-insurance-real-estate-rent-linear-icon-vector.jpg}" width="40%" height="40%" alt="Logo" style="object-fit: contain; text-align: center"/>
  </div>
  <h1 style="font-size: 27px; line-height: 35px; font-family: 'Open Sans', sans-serif; color: #2c2821; margin-bottom: 24px;">Уведомление о просрочке платежа</h1>
  <p style="color: #706654; margin-bottom: 16px;">
    Уважаемый <span th:text="${username}"></span>, у вас есть задолженность по оплате аренды следующих апартаментов:
  </p>
  <ul style="list-style: none; margin: 0; padding: 0;">
    <li style="border-bottom: 1px solid #e5e7eb; padding-bottom: 8px; margin-bottom: 16px;" th:each="triple: ${expiredApartments}">
      <a th:href="@{/apartments/{id}(id=${triple.a.id})}" style="color: #359fa5; text-decoration: underline;">
        <span th:text="${triple.a.name}">Апартаменты 1</span><strong style="font-size: larger; color: black">「◆」</strong>
        <span th:text="${'Просрочено на ' + triple.b.longValue()}">Просрочено на 5 дней</span><strong style="font-size: larger; color: black">「◆」</strong>
        <span th:text="${'Стоимость ' + triple.c.doubleValue() + ' ₽'}">Цена - 1000 ₽</span>
      </a>
    </li>
  </ul>
  <p style="color: #706654; margin-top: 24px;">Для урегулирования задолженности, пожалуйста, перейдите по ссылке для оплаты.</p>
  <a href="http://localhost:8080/payment/user" style="color: #359fa5; text-decoration: underline;">Платежи</a>
  <br><br>
  <p style="color: #2c2821;">RENTAP COMP</p>
</div>
</body>
</html>