<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
    <style>
        .avatar {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            overflow: hidden;
        }

        .avatar img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
<h1>Профиль пользователя</h1>
<div class="avatar">
    <img alt="Аватар пользователя" th:src="@{/static/defaultAvatar.png}"/>
</div>
<div class="profile-info" th:object="${profileInfo}">
    <p><strong>Имя:</strong> <span th:text="${profileInfo.name}"></span></p>
    <p><strong>Фамилия:</strong> <span th:text="${profileInfo.lastName}"></span></p>
    <p><strong>Email:</strong> <span th:text="${profileInfo.email}"></span></p>
    <p><strong>Телефон:</strong> <span th:text="${profileInfo.phone}"></span></p>
    <p><strong>Дата регистрации:</strong> <span th:text="${profileInfo.dateRegistration}"></span></p>
    <p><strong>День рождения:</strong> <span th:text="${profileInfo.birthday}"></span></p>
    <p><strong>Активен:</strong> <span th:text="${profileInfo.active ? 'Да' : 'Нет'}"></span></p>
    <p><strong>Роли:</strong> <span th:text="${roles}" th:object="${roles}"></span></p>
</div>

<div class="profile-buttons" th:if="${profileInfo.email == username}" th:object="${username}">
    <img th:src="@{'data:image/png;base64,' + ${dataGraph}}" alt="График платежей">
    <form th:action="@{/deleteProfile/{id}(id=${profileInfo.id})}" th:method="DELETE">
        <input type="submit" value="Удалить профиль">
    </form>
    <a class="button" th:href="@{/editProfile/{id}(id=${profileInfo.id})}">
        <button>Редактировать профиль</button>
    </a>
</div>
<div th:if="${roles.contains('ROLE_OWNER') || roles.contains('ROLE_ADMIN')}">
    <h2>Другие товары пользователя</h2>
<!--    <div class="apartment">-->
<!--        <div th:each="apartment : ${profileInfo.getApartments()}">-->
<!--            <img th:src="@{/image/{id}(id=${apartment.getImages().get(0).getId()})}" alt="Фотография апартаментов"  height="20%" width="20%">-->
<!--            <span th:text="${apartment.name}">Название</span>-->
<!--            <span th:text="${'Площадь: ' + apartment.square}">Площадь</span>-->
<!--            <span th:text="${'Количество комнат: ' + apartment.roomCount}">Количество комнат</span>-->
<!--            <span th:text="${'Суточная цена аренды: ' + apartment.dailyPrice}">Суточная цена аренды</span>-->
<!--        </div>-->
<!--    </div>-->
</div>
</body>
</html>